<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/admin-panel.css" rel="stylesheet" type="text/css">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <a href="/user/add">Añadir un nuevo usuario</a>
    <h3>Users table</h3>
    <div id="users-table">
        <table border="2">
            <thead>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Email</th>
                <th>Profesión</th>
                <th>Salario</th>
                <th>Foto de perfil</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </thead>
            <tbody id="users-table-body">
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="/js/admin-panel.js"></script>
</body>
</html>